<configuration debug="true">
    <springProperty scope="context" name="springAppName" source="spring.application.name" />
    <springProperty scope="context" name="springHostAddress" source="spring.cloud.client.ip-address"/>
    <property name="appName" value="${springAppName}"/>
    <property name="hostAddress" value="${springHostAddress}"/>
    <!-- 定义日志输出格式 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{traceId}/%X{parentId}/%X{spanId}|%X{traceNum}|${hostAddress}|${appName}|%-5level|%logger{0}:%L|%msg%n</pattern>
        </encoder>
    </appender>

    <!-- 配置根日志级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- 为指定包设置日志级别 -->
    <logger name="org.springframework.transaction" level="DEBUG"/>
    <logger name="org.springframework.jdbc.datasource" level="DEBUG"/>

</configuration>
